<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onedrinkaway"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="test suite"
        android:targetPackage="com.onedrinkaway" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
        
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home_search_by_name"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.onedrinkaway.app.OneDrinkAwayActivity"
            android:label="@string/title_activity_one_drink_away" >
        </activity>
        <activity
            android:name="com.onedrinkaway.app.HomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onedrinkaway.app.HelpDialog"
            android:label="@string/title_activity_home_page_help" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.DrinkInfoPage"
            android:label="@string/title_activity_drink_info_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.SearchByName"
            android:icon="@drawable/logo_simple_glass"
            android:label="@string/title_activity_search_by_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.SearchByCategory"
            android:icon="@drawable/home_search_by_category"
            android:label="@string/title_activity_search_by_category" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.SearchByFlavor"
            android:icon="@drawable/home_search_by_flavor"
            android:label="@string/title_activity_search_by_flavor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.SearchByIngredient"
            android:icon="@drawable/home_search_by_ingredient"
            android:label="@string/title_activity_search_by_ingredient" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.FavoriteDrinks"
            android:icon="@drawable/home_favorite_drinks"
            android:label="@string/title_activity_favorite_drinks" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.AdvancedSearch"
            android:icon="@drawable/home_advanced_search"
            android:label="@string/title_activity_advanced_search" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.app.ResultsPage"
            android:label="@string/title_activity_results_page" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onedrinkaway.app.HomePage" />
        </activity>
        <activity
            android:name="com.onedrinkaway.TrySomethingNew"
            android:label="@string/title_activity_try_something_new" >
        </activity>
        <activity
            android:name="com.onedrinkaway.app.NewUserRatingActivity"
            android:label="@string/title_activity_new_user_rating" >
        </activity>
    </application>

</manifest>
